body {
	font-size: 16px;
	color: white;
	background-color: indigo;
	font-family: sans-serif;
}

/* HEADER */
.navbar{
	height: 100px;
}
#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
	color: black;
}

.navbar-brand h1 {
	color: black;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}
#collapsable-nav{
	margin-top: 40px;
}
#nav-list{
	margin-top: none;
	background-color: gray;
	border: 0;
}
#nav-list a{
	color: white;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}

/* Section */
#home {
	margin-bottom: 30px;
	color: white;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: magenta;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}
/* End Section */


@media (max-width: 767px) {
	.row > div > article {
		width: 80%;
		margin: 20px auto 0;
	}
}